.mainContent {
  padding: 2rem;
}

.mainContent h1 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  color: var(--gray-700);
}

.buttonContainer {
  padding: 1rem;
}

.buttonContainer button {
  padding: 0.5rem 2.5rem;
  font-size: 0.875rem;
  color: var(--gray-600);
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
}

.buttonContainer button:hover {
  border: 1px solid var(--gray-600);
}

.buttonContainer button.active {
  background-color: #0056b3;
  color: #fff;
}

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formContainer h2 {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  color: var(--gray-700);
}

.formContainer .emailValidationMessage {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: var(--gray-600);
}

.formContainer .stillTrouble {
  font-size: 0.75rem;
  margin-top: 2rem;
}

.formContainer .stillTrouble button {
  border: none;
  background: none;
  color: var(--button-primary);
  cursor: pointer;
}

.formContainer .stillTrouble button:hover {
  border-bottom: 1px solid var(--button-dark);
  color: var(--button-dark);
}

.formContainer h3 {
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray-600);
  padding: 0;
  margin: 0;
}

.formText {
  font-size: 0.875rem;
  text-align: center;
  margin: 0;
  color: var(--gray-500);
}

.linkButton {
  background: #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  border-left: 0;
  cursor: pointer;
}

.form {
  padding: 2rem 0;
}

.form > label {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: #333;
  gap: 2px;
  margin-bottom: 1rem;
}

.form > label > span {
  align-self: flex-start;
}

.form > input {
  width: 100%;
  padding: 0.35rem 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.form .submitButton {
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  color: #fff;
  background-color: var(--button-primary);
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.submitButton:hover {
  background-color: var(--button-dark);
}

/* Error message */
.error {
  border: 1px solid red;
}
.errorMessage {
  color: red;
  font-size: 12px;
  margin: 15px 0 10px 0;
}

/* Forgot password button */
.forgotPass {
  width: fit-content;
  float: left;
  background-color: none;
  background: none;
  border: none;
  color: black;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.forgotPass:hover {
  border-bottom: 1px solid black;
  background-color: none;
  background: none;
}

/* Accept terms */
.acceptTerms {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 0.75rem;
}

.acceptTerms label {
  font-size: smaller;
  color: var(--gray-700);
}

input[type="checkbox"] {
  width: min-content;
  margin: 0;
}

/* Password validation */
.passwordValidation {
  border: 1px solid var(--gray-200);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: none;
}

.passwordValidation.active {
  display: block;
}

.passwordValidation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  text-align: left;
}

.success {
  color: green;
}

.notSuccess {
  color: red;
}
