.tabsWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tabsHeader {
  display: flex;
  border-bottom: 2px solid var(--gray-200);
}

.tabButton {
  flex: 1;
  padding: 12px 16px;
  border: none;
  background: var(--gray-700);
  font-size: 0.85rem;
  font-family: "Inter-Bold";
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tabButton:hover {
  background-color: var(--gray-200);
}

.activeTabBtn {
  background: orange;
  color: #fff;
}

.tabContent {
  padding: 1rem;
  font-size: 14px;
  color: var(--gray-700);
  border-radius: 0 0 8px 8px;
}
