.roomSelection {
  max-width: 1280px;
  margin: 0 auto;
}

.amenitiesForm fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 800px;
  border: 1px solid var(--gray-300);
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  margin: 1rem auto;
}

.amenitiesForm fieldset label {
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
}

.amenitiesForm button {
  padding: 0.65rem 1.5rem;
  background-color: var(--button-primary);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.amenitiesForm button:disabled {
  background-color: var(--gray-600);
  opacity: 0.6;
  cursor: not-allowed;
}
