.container {
  padding: 1.5rem;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

.currentSettings {
  text-align: left;
  border-bottom: 1px solid var(--gray-400);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.currentSettings > dl > dt {
  font-family: "Inter-Bold";
  margin-bottom: 0.25rem;
}

.currentSettings > dl > dd {
  color: var(--gray-600);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.subtitle {
  text-align: left;
  font-family: "Inter-Bold";
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.radioLabel {
  display: flex;
  justify-content: flex-start;
}

.radioLabel input {
  flex: 1;
}

.radioLabel span {
  flex: 10;
  text-align: left;
}

.input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--gray-300);
  width: 100%;
}

.submitBtn {
  padding: 0.5rem 0.75rem;
  border: none;
  background-color: var(--button-primary);
  color: white;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--button-dark);
}
