.policiesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
}

.policiesDescription {
  background-color: var(--gray-100);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.policiesDescription h3,
.policiesDescription p {
  text-align: left;
}

.policiesDescription h3 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
}

/* List styling */
.list {
  list-style: none;
  text-align: left;
  padding: 0;
}

.list li {
  padding: 0.35rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--gray-500);
}

.list li span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  color: var(--gray-700);
}
