.upload {
  text-align: center;
  font-size: 1.2rem;
}

.inputButton {
  width: 100%;
  padding: 0.875rem 0;
  background: none;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  color: var(--gray-700);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.inputButton:hover {
  border: 2px solid var(--gray-700);
  transform: scale(1.02);
}
.uploadLabel input {
  display: none;
}

/* Images Grid */
.imagesGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.imageContainer {
  position: relative;
  cursor: pointer;
}

.imageContainer:hover .deleteBtn {
  opacity: 1;
}

.imageContainer img {
  width: 150px;
  height: 112.5px;
  object-fit: cover;
  border-radius: 10px;
}

.deleteBtn {
  position: absolute;
  z-index: 1000;
  right: 8px;
  top: 8px;
  background: oklch(0.808 0.114 19.571);
  border-radius: 50%;
  border: none;
  padding: 3px 5px;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.deleteBtn:hover {
  background: oklch(0.637 0.237 25.331);
}

.deleteBtn svg {
  stroke: white;
  transform: translateY(5%);
}

/* Submit button */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.buttonContainer button {
  padding: 0.75rem 1.5rem;
  background-color: var(--button-primary);
  border: none;
  color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.buttonContainer button:hover {
  transform: scale(1.02);
}
