.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.title {
  font-size: 1.25rem;
  text-align: left;
  margin: 0 0 1rem 0;
}

.list {
  list-style: none;
  text-align: left;
  padding: 0;
}

.list li {
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.list li span:first-child {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
}

.innerList {
  width: 100%;
}

/* Team members list */
.teamMembersList {
  list-style: none;
  padding: 0;
}
.teamMembersList li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 2px 12px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.teamMembersList li p {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
}

.teamMembersList li span {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: green;
  color: white;
}
