.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  font-size: 0.785rem;
  padding-top: 0.5rem;
}

.list dt {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  text-align: left;
  color: var(--gray-700);
}

.list dd {
  font-family: "Inter", sans-serif;
  text-align: right;
}
