.radioInput {
  text-align: left;
}

.radioInput label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.radioInput label span {
  flex: 5;
}

.radioInput label input {
  flex: 1;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1rem;
  gap: 0.5rem;
}
