.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 2rem;
}

.list li {
  display: grid;
  border: 1px solid var(--gray-300);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.list li h3 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.list li p {
  font-family: "Inter" sans-serif;
  font-size: 0.875rem;
  color: var(--button-primary);
}

.list li span {
  border: none;
  color: #fff;
  background-color: green;
  border-radius: 10px;
  padding: 0.5rem 0.7rem;
  margin: 1rem 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.buttonContainer button {
  border: none;
  background: none;
  cursor: pointer;
}

.buttonContainer button svg {
  stroke: var(--gray-500);
}

.deleteBtn:hover svg {
  stroke: red;
  transform: scale(1.1);
}

.editBtn:hover svg {
  stroke: var(--gray-700);
  transform: scale(1.1);
}
