.cardContainer {
  background-color: #fff;
  border: 1px solid var(--gray-200);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.titleContainer h3 {
  font-family: "Inter-Bold";
  color: var(--gray-900);
  text-align: left;
  margin: 0;
}

.titleContainer p {
  font-family: "Inter";
  color: var(--gray-500);
  text-align: left;
  margin: 0;
}

/* body */
.body {
  flex: 1;
}

/* Actions container */
.actionsContainer {
  display: flex;
  justify-content: flex-end;
}

.actionButton {
  border: none;
  padding: 0.4rem 0.75rem;
  color: blue;
  font-family: "Inter-Bold";
  background: none;
  cursor: pointer;
}

.actionButton:hover {
  background-color: lightblue;
}
