.form {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Form subtitle */
.subtitle {
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
}

/* Group containers */

.groupContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}

.labelFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputSmall {
  width: 75px;
}

.inputMedium {
  width: 100px;
}

.formGroup {
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.groupContainer .formGroup {
  position: relative;
  flex: 1;
}

/* Radio Inputs */

.radioContainer {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.radioContainer > label {
  display: flex;
  position: relative;
  width: 100%;
}

.radioContainer input[type="radio"] {
  appearance: none;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--gray-700);
  position: absolute;
  right: 0;
  transition: 0.2s all linear;
}

.radioContainer input[type="radio"]:checked {
  border: 6px solid var(--gray-700);
  padding: 0;
}

/* labels */

.formGroup label,
.checkbox label {
  font-size: 0.785rem;
  color: var(--gray-700);
}

input,
select {
  padding: 0.5rem;
  font-size: 0.875rem;
  width: 100%;
  border: 1px solid var(--gray-400);
  background-color: #fff;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
  position: relative;
  box-sizing: border-box;
}

.form input:focus,
.form select:focus {
  border-color: var(--button-primary);
  outline: none;
}

/* Select rooms */
.roomSelectTable {
  border-collapse: collapse;
  width: 100%;
}

.roomSelectTable caption {
  color: var(--gray-700);
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.roomSelectTable thead th {
  font-size: 1rem;
  color: var(--gray-50);
  text-align: left;
  background-color: #0056b3;
  padding: 8px;
}

.roomSelectTable thead th:last-child,
.roomSelectTable tbody td:last-child {
  text-align: right;
}

.roomSelectTable tbody th,
.roomSelectTable tbody td {
  font-size: 0.875rem;
  color: var(--gray-600);
  text-align: left;
  padding: 4px 8px;
}

.roomSelectTable tbody th {
  text-align: left;
}

.roomSelectTable tbody td select {
  max-width: 50px;
}

/* checkbox style */

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 5px;
}

/* Buttons styles */
.buttonGroup {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.submitButton {
  background-color: var(--button-primary);
  color: white;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 0.875rem;
  font-family: "Inter-bold" sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background: #0056b3;
}

.cancelButton {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 0.8rem 1.6rem;
  font-size: 0.875rem;
  font-family: "Inter-Bold" sans-serif;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.cancelButton:hover {
  background-color: #f5c6cb;
  color: #721c24;
}

.submitButton:disabled {
  pointer-events: none;
  background-color: var(--gray-400);
}
