.tableWrapper {
  flex: 1;
}

.calendarTable {
  width: 100%;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: collapse;
}

.calendarTable tbody tr td {
  border: 1px solid var(--gray-400);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 2rem;
}

.calendarTable thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* Table header */

.monthDisplay {
  font-size: 1.5rem;
  color: var(--gray-700);
  text-align: center;
}

.arrowBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.arrowBtn svg {
  stroke: var(--gray-700);
}

.arrowBtn:hover {
  background: none;
}

.arrowBtn:hover svg {
  stroke: var(--gray-400);
  transform: scale(1.2);
}

/* Table rooms and beds */
.roomDescription {
  color: var(--gray-700);
  background: var(--gray-200);
  height: 2.5rem;
  font-family: "Inter-Bold";
  text-align: left;
}

.roomDescription th {
  padding-left: 1rem;
}

.roomName {
  font-size: 0.875rem;
  color: var(--gray-600);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.roomName > span {
  font-size: 0.65rem;
  margin-left: 0.5rem;
  background-color: var(--gray-400);
  color: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.35rem;
}

.beds {
  color: var(--gray-500);
  font-size: 0.875rem;
}

/* Reservations & Guest styles */
.guestName {
  font-family: "Inter";
  color: white;
  cursor: pointer;
}

.confirmed {
  background: #6a994e;
}

.checkedOut {
  background: #343a40;
}

.inHouse {
  background: #e36414;
}

.provisional {
  background: #3a86ff;
}

/* Calendar Footer style */
.reservationStatus ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  font-size: 0.785rem;
}

.reservationStatus li {
  font-family: "Inter-Bold";
}

/* New reservation button */
.newReservationButton {
  padding: 1.25rem 1.5rem;
  border-radius: 10%;
  border: 1px solid var(--gray-200);
  background: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-family: "Inter";
  cursor: pointer;
}

.newReservationButton:hover {
  background-color: var(--gray-100);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* No room types message */
.noRoomTypesMessage {
  color: black;
}
