.navBar {
  margin-top: 0.75rem;
  padding: 0rem;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-700);
  margin: 0;
  padding: 0;
  height: 50px;
}

.navList li {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.navBar li:hover {
  background-color: var(--gray-600);
}

.navList li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Inter-Bold", sans-serif;
  font-weight: bold;
}
