.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: var(--gray-50);
  padding: 0 2.5rem;
  background-color: var(--gray-800);
}

.info {
  display: flex;
  gap: 1rem;
}

.info a {
  color: var(--gray-50);
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.language select {
  padding: 0.25rem 0.5rem;
  margin: 0;
}
