@font-face {
  font-family: Inter;
  src: url("assets/fonts/inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter-Bold;
  src: url("assets/fonts/inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Inter-Italic;
  src: url("assets/fonts/inter/static/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

:root {
  --primary-color: #284b63;
  --secondary-color: #005f73;

  /* Text Colors */
  --text-color: #242424;
  --text-color-dark: #131721;
  --text-color-light: #7c7c7c;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-color);
  background-color: rgba(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 250px;
  min-height: 100vh;
}
