@font-face {
  font-family: Inter;
  src: url("assets/fonts/inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter-Bold;
  src: url("assets/fonts/inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Inter-Italic;
  src: url("assets/fonts/inter/static/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

:root {
  --primary-color: #284b63;
  --secondary-color: #005f73;
  --red: #a83a32;
  --green: #32a852;

  /* gray Colors */

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Buttons color */
  --button-primary: #007bff;
  --button-dark: #0056b3;

  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-color);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 250px;
  min-height: 100vh;
}

ul li a.active {
  background-color: slategray;
}
